openapi: 3.0.0
info:
  contact:
    email: team@appwrite.io
    name: Appwrite Team
    url: https://appwrite.io/support
  description: "Appwrite backend as a service cuts up to 70% of the time and costs\
    \ required for building a modern application. We abstract and simplify common\
    \ development tasks behind a REST APIs, to help you develop your app in a fast\
    \ and secure way. For full API documentation and tutorials go to [https://appwrite.io/docs](https://appwrite.io/docs)"
  license:
    name: BSD-3-Clause
    url: https://raw.githubusercontent.com/appwrite/appwrite/master/LICENSE
  termsOfService: https://appwrite.io/policy/terms
  title: Appwrite
  version: 1.5.0
  x-konfig-has-globally-required-security: true
  x-konfig-uses-multipart-form-data: true
externalDocs:
  description: "Full API docs, specs and tutorials"
  url: https://appwrite.io/docs
servers:
- url: https://cloud.appwrite.io/v1
tags:
- description: The Account service allows you to authenticate and manage a user account.
  name: account
  x-globalAttributes: []
- description: The Teams service allows you to group users of your project and to
    enable them to share read and write access to your project resources
  name: teams
  x-globalAttributes: []
- description: The Locale service allows you to customize your app based on your users'
    location.
  name: locale
  x-globalAttributes: []
- description: The Storage service allows you to manage your project files.
  name: storage
  x-globalAttributes: []
- description: "The Avatars service aims to help you complete everyday tasks related\
    \ to your app image, icons, and avatars."
  name: avatars
  x-globalAttributes: []
- description: "The Databases service allows you to create structured collections\
    \ of documents, query and filter lists of documents"
  name: databases
  x-globalAttributes:
  - databaseId
- description: "The Functions Service allows you view, create and manage your Cloud\
    \ Functions."
  name: functions
  x-globalAttributes: []
- description: The GraphQL API allows you to query and mutate your Appwrite server
    using GraphQL.
  name: graphql
  x-globalAttributes: []
- description: "The Messaging service allows you to send messages to any provider\
    \ type (SMTP, push notification, SMS, etc.)."
  name: messaging
  x-globalAttributes: []
- description: The Health service allows you to both validate and monitor your Appwrite
    server's health.
  name: health
  x-globalAttributes: []
- description: The Project service allows you to manage all the projects in your Appwrite
    server.
  name: projects
  x-globalAttributes: []
- description: The Project service allows you to manage all the projects in your Appwrite
    server.
  name: project
  x-globalAttributes: []
- description: The Users service allows you to manage your project users.
  name: users
  x-globalAttributes: []
- description: The Proxy Service allows you to configure actions for your domains
    beyond DNS configuration.
  name: proxy
  x-globalAttributes: []
- description: The Console service allows you to interact with console relevant informations.
  name: console
  x-globalAttributes: []
- description: The Migrations service allows you to migrate third-party data to your
    Appwrite project.
  name: migrations
  x-globalAttributes: []
paths:
  /account:
    get:
      description: Get the currently logged in user.
      operationId: Account_getCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Get account
      tags:
      - account
      x-appwrite:
        method: get
        weight: 8
        cookies: false
        type: ""
        deprecated: false
        demo: account/get.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/get.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account
      x-accepts: application/json
    post:
      description: "Use this endpoint to allow a new user to register a new account\
        \ in your project. After the user registration completes successfully, you\
        \ can use the [/account/verfication](https://appwrite.io/docs/references/cloud/client-web/account#createVerification)\
        \ route to start verifying the user email address. To allow the new user to\
        \ login to their new account, you need to create a new [account session](https://appwrite.io/docs/references/cloud/client-web/account#createEmailSession)."
      operationId: Account_registerUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountRegisterUserRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
      summary: Create account
      tags:
      - account
      x-appwrite:
        method: create
        weight: 7
        cookies: false
        type: ""
        deprecated: false
        demo: account/create.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account
      x-content-type: application/json
      x-accepts: application/json
  /account/email:
    patch:
      description: |
        Update currently logged in user account email address. After changing user address, the user confirmation status will get reset. A new confirmation email is not sent automatically however you can use the send confirmation email endpoint again to send the confirmation email. For security measures, user password is required to complete this request.
        This endpoint can also be used to convert an anonymous account to a normal one, by passing an email address and a new password.
      operationId: Account_updateUserEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateUserEmailRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update email
      tags:
      - account
      x-appwrite:
        method: updateEmail
        weight: 33
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-email.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-email.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-email
      x-content-type: application/json
      x-accepts: application/json
  /account/identities:
    get:
      description: Get the list of identities for the currently logged in user.
      operationId: Account_listIdentities
      parameters:
      - description: "Array of query strings generated using the Query class provided\
          \ by the SDK. [Learn more about queries](https://appwrite.io/docs/queries).\
          \ Maximum of 100 queries are allowed, each 4096 characters long. You may\
          \ filter on the following attributes: userId, provider, providerUid, providerEmail,\
          \ providerAccessTokenExpiry"
        explode: true
        in: query
        name: queries
        required: false
        schema:
          default: []
          example: []
          items:
            type: string
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-paths--account-identities-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identityList'
          description: Identities List
      security:
      - Project: []
        Session: []
        JWT: []
      summary: List Identities
      tags:
      - account
      x-appwrite:
        method: listIdentities
        weight: 56
        cookies: false
        type: ""
        deprecated: false
        demo: account/list-identities.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-identities.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account/identities
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-identities
      x-accepts: application/json
  /account/identities/{identityId}:
    delete:
      description: Delete an identity by its unique ID.
      operationId: Account_deleteIdentityById
      parameters:
      - description: Identity ID.
        explode: false
        in: path
        name: identityId
        required: true
        schema:
          type: string
          x-example: <IDENTITY_ID>
        style: simple
      responses:
        "204":
          description: No content
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Delete identity
      tags:
      - account
      x-appwrite:
        method: deleteIdentity
        weight: 57
        cookies: false
        type: ""
        deprecated: false
        demo: account/delete-identity.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-identity.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--account-identities-identityId
      x-accepts: application/json
  /account/jwt:
    post:
      description: Use this endpoint to create a JSON Web Token. You can use the resulting
        JWT to authenticate on behalf of the current user when working with the Appwrite
        server-side API and SDKs. The JWT secret is valid for 15 minutes from its
        creation and will be invalid if the user will logout in that time frame.
      operationId: Account_createJwt
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/jwt'
          description: JWT
      security:
      - Project: []
      summary: Create JWT
      tags:
      - account
      x-appwrite:
        method: createJWT
        weight: 28
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-j-w-t.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-jwt.md
        rate-limit: 100
        rate-time: 3600
        rate-key: "url:{url},userId:{userId}"
        scope: account
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-jwt
      x-accepts: application/json
  /account/logs:
    get:
      description: "Get the list of latest security activity logs for the currently\
        \ logged in user. Each log returns user IP address, location and date and\
        \ time of log."
      operationId: Account_listLogs
      parameters:
      - description: "Array of query strings generated using the Query class provided\
          \ by the SDK. [Learn more about queries](https://appwrite.io/docs/queries).\
          \ Only supported methods are limit and offset"
        explode: true
        in: query
        name: queries
        required: false
        schema:
          default: []
          example: []
          items:
            type: string
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-paths--account-logs-get-parameters-0-schema
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/logList'
          description: Logs List
      security:
      - Project: []
        Session: []
        JWT: []
      summary: List logs
      tags:
      - account
      x-appwrite:
        method: listLogs
        weight: 30
        cookies: false
        type: ""
        deprecated: false
        demo: account/list-logs.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-logs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-logs
      x-accepts: application/json
  /account/mfa:
    patch:
      description: Enable or disable MFA on an account.
      operationId: Account_updateMfaStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateMfaStatusRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update MFA
      tags:
      - account
      x-appwrite:
        method: updateMFA
        weight: 43
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-m-f-a.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-mfa
      x-content-type: application/json
      x-accepts: application/json
  /account/mfa/authenticators/{type}:
    delete:
      description: Delete an authenticator for a user by ID.
      operationId: Account_deleteAuthenticator
      parameters:
      - description: Type of authenticator.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - totp
          type: string
          x-example: totp
          x-enum-name: AuthenticatorType
          x-enum-keys: []
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeleteAuthenticatorRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Delete Authenticator
      tags:
      - account
      x-appwrite:
        method: deleteMfaAuthenticator
        weight: 50
        cookies: false
        type: ""
        deprecated: false
        demo: account/delete-mfa-authenticator.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--account-mfa-authenticators-type
      x-content-type: application/json
      x-accepts: application/json
    post:
      description: "Add an authenticator app to be used as an MFA factor. Verify the\
        \ authenticator using the [verify authenticator](/docs/references/cloud/client-web/account#verifyAuthenticator)\
        \ method."
      operationId: Account_addAuthenticator
      parameters:
      - description: Type of authenticator. Must be `totp`
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - totp
          type: string
          x-example: totp
          x-enum-name: AuthenticatorType
          x-enum-keys: []
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaType'
          description: MFAType
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Add Authenticator
      tags:
      - account
      x-appwrite:
        method: createMfaAuthenticator
        weight: 45
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-mfa-authenticator.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-mfa-authenticators-type
      x-accepts: application/json
    put:
      description: "Verify an authenticator app after adding it using the [add authenticator](/docs/references/cloud/client-web/account#addAuthenticator)\
        \ method."
      operationId: Account_verifyAuthenticator
      parameters:
      - description: Type of authenticator.
        explode: false
        in: path
        name: type
        required: true
        schema:
          enum:
          - totp
          type: string
          x-example: totp
          x-enum-name: AuthenticatorType
          x-enum-keys: []
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountVerifyAuthenticatorRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Verify Authenticator
      tags:
      - account
      x-appwrite:
        method: updateMfaAuthenticator
        weight: 46
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-mfa-authenticator.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa-authenticator.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-mfa-authenticators-type
      x-content-type: application/json
      x-accepts: application/json
  /account/mfa/challenge:
    post:
      description: "Begin the process of MFA verification after sign-in. Finish the\
        \ flow with [updateMfaChallenge](/docs/references/cloud/client-web/account#updateMfaChallenge)\
        \ method."
      operationId: Account_createMfaChallenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateMfaChallengeRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaChallenge'
          description: MFA Challenge
      security:
      - Project: []
      summary: Create 2FA Challenge
      tags:
      - account
      x-appwrite:
        method: createMfaChallenge
        weight: 51
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-mfa-challenge.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-mfa-challenge.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},token:{param-token}"
        scope: account
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-mfa-challenge
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: "Complete the MFA challenge by providing the one-time password.\
        \ Finish the process of MFA verification by providing the one-time password.\
        \ To begin the flow, use [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge)\
        \ method."
      operationId: Account_completeMfaChallenge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCompleteMfaChallengeRequest'
      responses:
        "204":
          content:
            ? ""
            : schema:
                $ref: '#/components/schemas/session'
          description: No content
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create MFA Challenge (confirmation)
      tags:
      - account
      x-appwrite:
        method: updateMfaChallenge
        weight: 52
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-mfa-challenge.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa-challenge.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "userId:{param-userId}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-mfa-challenge
      x-content-type: application/json
      x-accepts: ""
  /account/mfa/factors:
    get:
      description: List the factors available on the account to be used as a MFA challange.
      operationId: Account_listMfaFactors
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaFactors'
          description: MFAFactors
      security:
      - Project: []
        Session: []
        JWT: []
      summary: List Factors
      tags:
      - account
      x-appwrite:
        method: listMfaFactors
        weight: 44
        cookies: false
        type: ""
        deprecated: false
        demo: account/list-mfa-factors.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-mfa-factors.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-mfa-factors
      x-accepts: application/json
  /account/mfa/recovery-codes:
    get:
      description: "Get recovery codes that can be used as backup for MFA flow. Before\
        \ getting codes, they must be generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes)\
        \ method. An OTP challenge is required to read recovery codes."
      operationId: Account_getMfaRecoveryCodes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
          description: MFA Recovery Codes
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Get MFA Recovery Codes
      tags:
      - account
      x-appwrite:
        method: getMfaRecoveryCodes
        weight: 49
        cookies: false
        type: ""
        deprecated: false
        demo: account/get-mfa-recovery-codes.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/get-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-mfa-recovery-codes
      x-accepts: application/json
    patch:
      description: "Regenerate recovery codes that can be used as backup for MFA flow.\
        \ Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](/docs/references/cloud/client-web/account#createMfaRecoveryCodes)\
        \ method. An OTP challenge is required to regenreate recovery codes."
      operationId: Account_regenerateMfaRecoveryCodes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
          description: MFA Recovery Codes
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Regenerate MFA Recovery Codes
      tags:
      - account
      x-appwrite:
        method: updateMfaRecoveryCodes
        weight: 48
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-mfa-recovery-codes.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-mfa-recovery-codes
      x-accepts: application/json
    post:
      description: "Generate recovery codes as backup for MFA flow. It's recommended\
        \ to generate and show then immediately after user successfully adds their\
        \ authehticator. Recovery codes can be used as a MFA verification type in\
        \ [createMfaChallenge](/docs/references/cloud/client-web/account#createMfaChallenge)\
        \ method."
      operationId: Account_createMfaRecoveryCodes
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mfaRecoveryCodes'
          description: MFA Recovery Codes
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create MFA Recovery Codes
      tags:
      - account
      x-appwrite:
        method: createMfaRecoveryCodes
        weight: 47
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-mfa-recovery-codes.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-mfa-recovery-codes.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-mfa-recovery-codes
      x-accepts: application/json
  /account/name:
    patch:
      description: Update currently logged in user account name.
      operationId: Account_updateNameOperation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateNameOperationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update name
      tags:
      - account
      x-appwrite:
        method: updateName
        weight: 31
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-name.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-name.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-name
      x-content-type: application/json
      x-accepts: application/json
  /account/password:
    patch:
      description: "Update currently logged in user password. For validation, user\
        \ is required to pass in the new password, and the old password. For users\
        \ created with OAuth, Team Invites and Magic URL, oldPassword is optional."
      operationId: Account_updatePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePasswordRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update password
      tags:
      - account
      x-appwrite:
        method: updatePassword
        weight: 32
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-password.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-password.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-password
      x-content-type: application/json
      x-accepts: application/json
  /account/phone:
    patch:
      description: "Update the currently logged in user's phone number. After updating\
        \ the phone number, the phone verification status will be reset. A confirmation\
        \ SMS is not sent automatically, however you can use the [POST /account/verification/phone](https://appwrite.io/docs/references/cloud/client-web/account#createPhoneVerification)\
        \ endpoint to send a confirmation SMS."
      operationId: Account_updatePhone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePhoneRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update phone
      tags:
      - account
      x-appwrite:
        method: updatePhone
        weight: 34
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-phone.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-phone.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-phone
      x-content-type: application/json
      x-accepts: application/json
  /account/prefs:
    get:
      description: Get the preferences as a key-value object for the currently logged
        in user.
      operationId: Account_getPrefs
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/preferences'
          description: Preferences
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Get account preferences
      tags:
      - account
      x-appwrite:
        method: getPrefs
        weight: 29
        cookies: false
        type: ""
        deprecated: false
        demo: account/get-prefs.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/get-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account/prefs
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-prefs
      x-accepts: application/json
    patch:
      description: "Update currently logged in user account preferences. The object\
        \ you pass is stored as is, and replaces any previous value. The maximum allowed\
        \ prefs size is 64kB and throws error if exceeded."
      operationId: Account_updatePreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePreferencesRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update preferences
      tags:
      - account
      x-appwrite:
        method: updatePrefs
        weight: 35
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-prefs.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-prefs.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account/prefs
        offline-key: current
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-prefs
      x-content-type: application/json
      x-accepts: application/json
  /account/recovery:
    post:
      description: "Sends the user an email with a temporary secret key for password\
        \ reset. When the user clicks the confirmation link he is redirected back\
        \ to your app password reset URL with the secret key and email address values\
        \ attached to the URL query string. Use the query string params to submit\
        \ a request to the [PUT /account/recovery](https://appwrite.io/docs/references/cloud/client-web/account#updateRecovery)\
        \ endpoint to complete the process. The verification link sent to the user's\
        \ email address is valid for 1 hour."
      operationId: Account_createPasswordRecovery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreatePasswordRecoveryRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create password recovery
      tags:
      - account
      x-appwrite:
        method: createRecovery
        weight: 37
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-recovery.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-recovery.md
        rate-limit: 10
        rate-time: 3600
        rate-key:
        - "url:{url},email:{param-email}"
        - "url:{url},ip:{ip}"
        scope: sessions.write
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-recovery
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: |-
        Use this endpoint to complete the user account password reset. Both the **userId** and **secret** arguments will be passed as query parameters to the redirect URL you have provided when sending your request to the [POST /account/recovery](https://appwrite.io/docs/references/cloud/client-web/account#createRecovery) endpoint.

        Please note that in order to avoid a [Redirect Attack](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.md) the only valid redirect URLs are the ones from domains you have set when adding your platforms in the console interface.
      operationId: Account_completePasswordRecovery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCompletePasswordRecoveryRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create password recovery (confirmation)
      tags:
      - account
      x-appwrite:
        method: updateRecovery
        weight: 38
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-recovery.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-recovery.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},userId:{param-userId}"
        scope: sessions.write
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-recovery
      x-content-type: application/json
      x-accepts: application/json
  /account/sessions:
    delete:
      description: Delete all sessions from the user account and remove any sessions
        cookies from the end client.
      operationId: Account_removeSessions
      responses:
        "204":
          description: No content
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Delete sessions
      tags:
      - account
      x-appwrite:
        method: deleteSessions
        weight: 11
        cookies: false
        type: ""
        deprecated: false
        demo: account/delete-sessions.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-sessions.md
        rate-limit: 100
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--account-sessions
      x-accepts: application/json
    get:
      description: Get the list of active sessions across different devices for the
        currently logged in user.
      operationId: Account_listSessions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sessionList'
          description: Sessions List
      security:
      - Project: []
        Session: []
        JWT: []
      summary: List sessions
      tags:
      - account
      x-appwrite:
        method: listSessions
        weight: 10
        cookies: false
        type: ""
        deprecated: false
        demo: account/list-sessions.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/list-sessions.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account/sessions
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-sessions
      x-accepts: application/json
  /account/sessions/anonymous:
    post:
      description: "Use this endpoint to allow a new user to register an anonymous\
        \ account in your project. This route will also create a new session for the\
        \ user. To allow the new user to convert an anonymous account to a normal\
        \ account, you need to update its [email and password](https://appwrite.io/docs/references/cloud/client-web/account#updateEmail)\
        \ or create an [OAuth2 session](https://appwrite.io/docs/references/cloud/client-web/account#CreateOAuth2Session)."
      operationId: Account_createAnonymousSession
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
          description: Session
      security:
      - Project: []
      summary: Create anonymous session
      tags:
      - account
      x-appwrite:
        method: createAnonymousSession
        weight: 16
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-anonymous-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session-anonymous.md
        rate-limit: 50
        rate-time: 3600
        rate-key: "ip:{ip}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-sessions-anonymous
      x-accepts: application/json
  /account/sessions/email:
    post:
      description: |-
        Allow the user to login into their account by providing a valid email and password combination. This route will create a new session for the user.

        A user is limited to 10 active sessions at a time by default. [Learn more about session limits](https://appwrite.io/docs/authentication-security#limits).
      operationId: Account_createEmailPasswordSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailPasswordSessionRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
          description: Session
      security:
      - Project: []
      summary: Create email password session
      tags:
      - account
      x-appwrite:
        method: createEmailPasswordSession
        weight: 15
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-email-password-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session-email-password.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},email:{param-email}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-sessions-email
      x-content-type: application/json
      x-accepts: application/json
  /account/sessions/magic-url:
    put:
      description: "Use this endpoint to create a session from token. Provide the\
        \ **userId** and **secret** parameters from the successful response of authentication\
        \ flows initiated by token creation. For example, magic URL and phone login."
      operationId: Account_updateMagicUrlSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdateMagicUrlSessionRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
          description: Session
      security:
      - Project: []
      summary: Update magic URL session
      tags:
      - account
      x-appwrite:
        method: updateMagicURLSession
        weight: 25
        cookies: false
        type: ""
        deprecated: true
        demo: account/update-magic-u-r-l-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "ip:{ip},userId:{param-userId}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-sessions-magic-url
      x-content-type: application/json
      x-accepts: application/json
  /account/sessions/oauth2/{provider}:
    get:
      description: |
        Allow the user to login to their account using the OAuth2 provider of their choice. Each OAuth2 provider should be enabled from the Appwrite console first. Use the success and failure arguments to provide a redirect URL's back to your app when login is completed.

        If there is already an active session, the new session will be attached to the logged-in account. If there are no active sessions, the server will attempt to look for a user with the same email address as the email received from the OAuth2 provider and attach the new session to the existing user. If no matching user is found - the server will create a new user.

        A user is limited to 10 active sessions at a time by default. [Learn more about session limits](https://appwrite.io/docs/authentication-security#limits).
      operationId: Account_createOAuth2Session
      parameters:
      - description: "OAuth2 Provider. Currently, supported providers are: amazon,\
          \ apple, auth0, authentik, autodesk, bitbucket, bitly, box, dailymotion,\
          \ discord, disqus, dropbox, etsy, facebook, github, gitlab, google, linkedin,\
          \ microsoft, notion, oidc, okta, paypal, paypalSandbox, podio, salesforce,\
          \ slack, spotify, stripe, tradeshift, tradeshiftBox, twitch, wordpress,\
          \ yahoo, yammer, yandex, zoho, zoom."
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - amazon
          - apple
          - auth0
          - authentik
          - autodesk
          - bitbucket
          - bitly
          - box
          - dailymotion
          - discord
          - disqus
          - dropbox
          - etsy
          - facebook
          - github
          - gitlab
          - google
          - linkedin
          - microsoft
          - notion
          - oidc
          - okta
          - paypal
          - paypalSandbox
          - podio
          - salesforce
          - slack
          - spotify
          - stripe
          - tradeshift
          - tradeshiftBox
          - twitch
          - wordpress
          - yahoo
          - yammer
          - yandex
          - zoho
          - zoom
          - mock
          type: string
          x-example: amazon
          x-enum-name: OAuthProvider
          x-enum-keys: []
        style: simple
      - description: "URL to redirect back to your app after a successful login attempt.\
          \  Only URLs from hostnames in your project's platform list are allowed.\
          \ This requirement helps to prevent an [open redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)\
          \ attack against your project API."
        explode: true
        in: query
        name: success
        required: false
        schema:
          default: ""
          example: ""
          format: url
          type: string
          x-example: https://example.com
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--account-sessions-oauth2-provider-get-parameters-1-schema
        style: form
      - description: "URL to redirect back to your app after a failed login attempt.\
          \  Only URLs from hostnames in your project's platform list are allowed.\
          \ This requirement helps to prevent an [open redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)\
          \ attack against your project API."
        explode: true
        in: query
        name: failure
        required: false
        schema:
          default: ""
          example: ""
          format: url
          type: string
          x-example: https://example.com
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--account-sessions-oauth2-provider-get-parameters-2-schema
        style: form
      - description: "A list of custom OAuth2 scopes. Check each provider internal\
          \ docs for a list of supported scopes. Maximum of 100 scopes are allowed,\
          \ each 4096 characters long."
        explode: true
        in: query
        name: scopes
        required: false
        schema:
          default: []
          example: []
          items:
            type: string
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-paths--account-sessions-oauth2-provider-get-parameters-3-schema
        style: form
      responses:
        default:
          description: File
      security:
      - Project: []
      summary: Create OAuth2 session
      tags:
      - account
      x-appwrite:
        method: createOAuth2Session
        weight: 18
        cookies: false
        type: webAuth
        deprecated: false
        demo: account/create-o-auth2session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session-oauth2.md
        rate-limit: 50
        rate-time: 3600
        rate-key: "ip:{ip}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-sessions-oauth2-provider
      x-accepts: application/json
  /account/sessions/phone:
    put:
      description: "Use this endpoint to create a session from token. Provide the\
        \ **userId** and **secret** parameters from the successful response of authentication\
        \ flows initiated by token creation. For example, magic URL and phone login."
      operationId: Account_updatePhoneSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePhoneSessionRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
          description: Session
      security:
      - Project: []
      summary: Update phone session
      tags:
      - account
      x-appwrite:
        method: updatePhoneSession
        weight: 26
        cookies: false
        type: ""
        deprecated: true
        demo: account/update-phone-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "ip:{ip},userId:{param-userId}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-sessions-phone
      x-content-type: application/json
      x-accepts: application/json
  /account/sessions/token:
    post:
      description: "Use this endpoint to create a session from token. Provide the\
        \ **userId** and **secret** parameters from the successful response of authentication\
        \ flows initiated by token creation. For example, magic URL and phone login."
      operationId: Account_createSessionFromToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateSessionFromTokenRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
          description: Session
      security:
      - Project: []
      summary: Create session
      tags:
      - account
      x-appwrite:
        method: createSession
        weight: 17
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "ip:{ip},userId:{param-userId}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-sessions-token
      x-content-type: application/json
      x-accepts: application/json
  /account/sessions/{sessionId}:
    delete:
      description: "Logout the user. Use 'current' as the session ID to logout on\
        \ this device, use a session ID to logout on another device. If you're looking\
        \ to logout the user on all devices, use [Delete Sessions](https://appwrite.io/docs/references/cloud/client-web/account#deleteSessions)\
        \ instead."
      operationId: Account_logoutSessionById
      parameters:
      - description: Session ID. Use the string 'current' to delete the current device
          session.
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
          x-example: <SESSION_ID>
        style: simple
      responses:
        "204":
          description: No content
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Delete session
      tags:
      - account
      x-appwrite:
        method: deleteSession
        weight: 13
        cookies: false
        type: ""
        deprecated: false
        demo: account/delete-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/delete-session.md
        rate-limit: 100
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--account-sessions-sessionId
      x-accepts: application/json
    get:
      description: Use this endpoint to get a logged in user's session using a Session
        ID. Inputting 'current' will return the current session being used.
      operationId: Account_getSession
      parameters:
      - description: Session ID. Use the string 'current' to get the current device
          session.
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
          x-example: <SESSION_ID>
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
          description: Session
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Get session
      tags:
      - account
      x-appwrite:
        method: getSession
        weight: 12
        cookies: false
        type: ""
        deprecated: false
        demo: account/get-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/get-session.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: /account/sessions
        offline-key: "{sessionId}"
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-sessions-sessionId
      x-accepts: application/json
    patch:
      description: "Use this endpoint to extend a session's length. Extending a session\
        \ is useful when session expiry is short. If the session was created using\
        \ an OAuth provider, this endpoint refreshes the access token from the provider."
      operationId: Account_extendSessionLength
      parameters:
      - description: Session ID. Use the string 'current' to update the current device
          session.
        explode: false
        in: path
        name: sessionId
        required: true
        schema:
          type: string
          x-example: <SESSION_ID>
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/session'
          description: Session
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update session
      tags:
      - account
      x-appwrite:
        method: updateSession
        weight: 14
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-session.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-session.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-sessions-sessionId
      x-accepts: application/json
  /account/status:
    patch:
      description: "Block the currently logged in user account. Behind the scene,\
        \ the user record is not deleted but permanently blocked from any access.\
        \ To completely delete a user, use the Users API instead."
      operationId: Account_blockUserStatus
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user'
          description: User
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Update status
      tags:
      - account
      x-appwrite:
        method: updateStatus
        weight: 36
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-status.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-status.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-patch--account-status
      x-accepts: application/json
  /account/targets/push:
    post:
      description: ""
      operationId: Account_createPushTarget
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreatePushTargetRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
          description: Target
      security:
      - Project: []
        Session: []
      summary: Create push target
      tags:
      - account
      x-appwrite:
        method: createPushTarget
        weight: 53
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-push-target.md
        edit: https://github.com/appwrite/appwrite/edit/master
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: targets.write
        platforms:
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-targets-push
      x-content-type: application/json
      x-accepts: application/json
  /account/targets/{targetId}/push:
    delete:
      description: ""
      operationId: Account_deletePushTarget
      parameters:
      - description: Target ID.
        explode: false
        in: path
        name: targetId
        required: true
        schema:
          type: string
          x-example: <TARGET_ID>
        style: simple
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
          description: No content
      security:
      - Project: []
        Session: []
      summary: Delete push target
      tags:
      - account
      x-appwrite:
        method: deletePushTarget
        weight: 55
        cookies: false
        type: ""
        deprecated: false
        demo: account/delete-push-target.md
        edit: https://github.com/appwrite/appwrite/edit/master
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: targets.write
        platforms:
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--account-targets-targetId-push
      x-accepts: application/json
    put:
      description: ""
      operationId: Account_updatePushTarget
      parameters:
      - description: Target ID.
        explode: false
        in: path
        name: targetId
        required: true
        schema:
          type: string
          x-example: <TARGET_ID>
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdatePushTargetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/target'
          description: Target
      security:
      - Project: []
        Session: []
      summary: Update push target
      tags:
      - account
      x-appwrite:
        method: updatePushTarget
        weight: 54
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-push-target.md
        edit: https://github.com/appwrite/appwrite/edit/master
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: targets.write
        platforms:
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-targets-targetId-push
      x-content-type: application/json
      x-accepts: application/json
  /account/tokens/email:
    post:
      description: |-
        Sends the user an email with a secret key for creating a session. If the provided user ID has not be registered, a new user will be created. Use the returned user ID and secret and submit a request to the [POST /v1/account/sessions/token](https://appwrite.io/docs/references/cloud/client-web/account#createSession) endpoint to complete the login process. The secret sent to the user's email is valid for 15 minutes.

        A user is limited to 10 active sessions at a time by default. [Learn more about session limits](https://appwrite.io/docs/authentication-security#limits).
      operationId: Account_createEmailToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailTokenRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
      summary: Create email token (OTP)
      tags:
      - account
      x-appwrite:
        method: createEmailToken
        weight: 24
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-email-token.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-email.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},email:{param-email}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-tokens-email
      x-content-type: application/json
      x-accepts: application/json
  /account/tokens/magic-url:
    post:
      description: |
        Sends the user an email with a secret key for creating a session. If the provided user ID has not been registered, a new user will be created. When the user clicks the link in the email, the user is redirected back to the URL you provided with the secret key and userId values attached to the URL query string. Use the query string parameters to submit a request to the [POST /v1/account/sessions/token](https://appwrite.io/docs/references/cloud/client-web/account#createSession) endpoint to complete the login process. The link sent to the user's email address is valid for 1 hour. If you are on a mobile device you can leave the URL parameter empty, so that the login completion will be handled by your Appwrite instance by default.

        A user is limited to 10 active sessions at a time by default. [Learn more about session limits](https://appwrite.io/docs/authentication-security#limits).
      operationId: Account_createMagicUrlToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateMagicUrlTokenRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
      summary: Create magic URL token
      tags:
      - account
      x-appwrite:
        method: createMagicURLToken
        weight: 23
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-magic-u-r-l-token.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-magic-url.md
        rate-limit: 60
        rate-time: 3600
        rate-key:
        - "url:{url},email:{param-email}"
        - "url:{url},ip:{ip}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-tokens-magic-url
      x-content-type: application/json
      x-accepts: application/json
  /account/tokens/oauth2/{provider}:
    get:
      description: "Allow the user to login to their account using the OAuth2 provider\
        \ of their choice. Each OAuth2 provider should be enabled from the Appwrite\
        \ console first. Use the success and failure arguments to provide a redirect\
        \ URL's back to your app when login is completed. \n\nIf authentication succeeds,\
        \ `userId` and `secret` of a token will be appended to the success URL as\
        \ query parameters. These can be used to create a new session using the [Create\
        \ session](https://appwrite.io/docs/references/cloud/client-web/account#createSession)\
        \ endpoint.\n\nA user is limited to 10 active sessions at a time by default.\
        \ [Learn more about session limits](https://appwrite.io/docs/authentication-security#limits)."
      operationId: Account_createOAuth2Token
      parameters:
      - description: "OAuth2 Provider. Currently, supported providers are: amazon,\
          \ apple, auth0, authentik, autodesk, bitbucket, bitly, box, dailymotion,\
          \ discord, disqus, dropbox, etsy, facebook, github, gitlab, google, linkedin,\
          \ microsoft, notion, oidc, okta, paypal, paypalSandbox, podio, salesforce,\
          \ slack, spotify, stripe, tradeshift, tradeshiftBox, twitch, wordpress,\
          \ yahoo, yammer, yandex, zoho, zoom."
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - amazon
          - apple
          - auth0
          - authentik
          - autodesk
          - bitbucket
          - bitly
          - box
          - dailymotion
          - discord
          - disqus
          - dropbox
          - etsy
          - facebook
          - github
          - gitlab
          - google
          - linkedin
          - microsoft
          - notion
          - oidc
          - okta
          - paypal
          - paypalSandbox
          - podio
          - salesforce
          - slack
          - spotify
          - stripe
          - tradeshift
          - tradeshiftBox
          - twitch
          - wordpress
          - yahoo
          - yammer
          - yandex
          - zoho
          - zoom
          - mock
          type: string
          x-example: amazon
          x-enum-name: OAuthProvider
          x-enum-keys: []
        style: simple
      - description: "URL to redirect back to your app after a successful login attempt.\
          \  Only URLs from hostnames in your project's platform list are allowed.\
          \ This requirement helps to prevent an [open redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)\
          \ attack against your project API."
        explode: true
        in: query
        name: success
        required: false
        schema:
          default: ""
          example: ""
          format: url
          type: string
          x-example: https://example.com
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--account-tokens-oauth2-provider-get-parameters-1-schema
        style: form
      - description: "URL to redirect back to your app after a failed login attempt.\
          \  Only URLs from hostnames in your project's platform list are allowed.\
          \ This requirement helps to prevent an [open redirect](https://cheatsheetseries.owasp.org/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html)\
          \ attack against your project API."
        explode: true
        in: query
        name: failure
        required: false
        schema:
          default: ""
          example: ""
          format: url
          type: string
          x-example: https://example.com
          x-konfig-original-example: ""
          x-konfig-generated-schema: konfig-generated-schema-paths--account-tokens-oauth2-provider-get-parameters-2-schema
        style: form
      - description: "A list of custom OAuth2 scopes. Check each provider internal\
          \ docs for a list of supported scopes. Maximum of 100 scopes are allowed,\
          \ each 4096 characters long."
        explode: true
        in: query
        name: scopes
        required: false
        schema:
          default: []
          example: []
          items:
            type: string
          type: array
          x-konfig-original-example: []
          x-konfig-generated-schema: konfig-generated-schema-paths--account-tokens-oauth2-provider-get-parameters-3-schema
        style: form
      responses:
        default:
          description: File
      security:
      - Project: []
      summary: Create OAuth2 token
      tags:
      - account
      x-appwrite:
        method: createOAuth2Token
        weight: 22
        cookies: false
        type: webAuth
        deprecated: false
        demo: account/create-o-auth2token.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-oauth2.md
        rate-limit: 50
        rate-time: 3600
        rate-key: "ip:{ip}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--account-tokens-oauth2-provider
      x-accepts: application/json
  /account/tokens/phone:
    post:
      description: |-
        Sends the user an SMS with a secret key for creating a session. If the provided user ID has not be registered, a new user will be created. Use the returned user ID and secret and submit a request to the [POST /v1/account/sessions/token](https://appwrite.io/docs/references/cloud/client-web/account#createSession) endpoint to complete the login process. The secret sent to the user's phone is valid for 15 minutes.

        A user is limited to 10 active sessions at a time by default. [Learn more about session limits](https://appwrite.io/docs/authentication-security#limits).
      operationId: Account_createPhoneToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreatePhoneTokenRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
      summary: Create phone token
      tags:
      - account
      x-appwrite:
        method: createPhoneToken
        weight: 27
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-phone-token.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-token-phone.md
        rate-limit: 10
        rate-time: 3600
        rate-key:
        - "url:{url},phone:{param-phone}"
        - "url:{url},ip:{ip}"
        scope: sessions.write
        platforms:
        - server
        - client
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-tokens-phone
      x-content-type: application/json
      x-accepts: application/json
  /account/verification:
    post:
      description: |
        Use this endpoint to send a verification message to your user email address to confirm they are the valid owners of that address. Both the **userId** and **secret** arguments will be passed as query parameters to the URL you have provided to be attached to the verification email. The provided URL should redirect the user back to your app and allow you to complete the verification process by verifying both the **userId** and **secret** parameters. Learn more about how to [complete the verification process](https://appwrite.io/docs/references/cloud/client-web/account#updateVerification). The verification link sent to the user's email address is valid for 7 days.

        Please note that in order to avoid a [Redirect Attack](https://github.com/OWASP/CheatSheetSeries/blob/master/cheatsheets/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.md), the only valid redirect URLs are the ones from domains you have set when adding your platforms in the console interface.
      operationId: Account_createEmailVerification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailVerificationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create email verification
      tags:
      - account
      x-appwrite:
        method: createVerification
        weight: 39
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-verification.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-email-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},userId:{userId}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-verification
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: Use this endpoint to complete the user email verification process.
        Use both the **userId** and **secret** parameters that were attached to your
        app URL to verify the user email ownership. If confirmed this route will return
        a 200 status code.
      operationId: Account_createEmailVerification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreateEmailVerificationRequest1'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create email verification (confirmation)
      tags:
      - account
      x-appwrite:
        method: updateVerification
        weight: 40
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-verification.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-email-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "url:{url},userId:{param-userId}"
        scope: public
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-verification
      x-content-type: application/json
      x-accepts: application/json
  /account/verification/phone:
    post:
      description: "Use this endpoint to send a verification SMS to the currently\
        \ logged in user. This endpoint is meant for use after updating a user's phone\
        \ number using the [accountUpdatePhone](https://appwrite.io/docs/references/cloud/client-web/account#updatePhone)\
        \ endpoint. Learn more about how to [complete the verification process](https://appwrite.io/docs/references/cloud/client-web/account#updatePhoneVerification).\
        \ The verification code sent to the user's phone number is valid for 15 minutes."
      operationId: Account_createPhoneVerification
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create phone verification
      tags:
      - account
      x-appwrite:
        method: createPhoneVerification
        weight: 41
        cookies: false
        type: ""
        deprecated: false
        demo: account/create-phone-verification.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/create-phone-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key:
        - "url:{url},userId:{userId}"
        - "url:{url},ip:{ip}"
        scope: account
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--account-verification-phone
      x-accepts: application/json
    put:
      description: Use this endpoint to complete the user phone verification process.
        Use the **userId** and **secret** that were sent to your user's phone number
        to verify the user email ownership. If confirmed this route will return a
        200 status code.
      operationId: Account_confirmPhoneVerification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountConfirmPhoneVerificationRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/token'
          description: Token
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Create phone verification (confirmation)
      tags:
      - account
      x-appwrite:
        method: updatePhoneVerification
        weight: 42
        cookies: false
        type: ""
        deprecated: false
        demo: account/update-phone-verification.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/account/update-phone-verification.md
        rate-limit: 10
        rate-time: 3600
        rate-key: "userId:{param-userId}"
        scope: public
        platforms:
        - client
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--account-verification-phone
      x-content-type: application/json
      x-accepts: application/json
  /avatars/browsers/{code}:
    get:
      description: |-
        You can use this endpoint to show different browser icons to your users. The code argument receives the browser code as it appears in your user [GET /account/sessions](https://appwrite.io/docs/references/cloud/client-web/account#getSessions) endpoint. Use width, height and quality arguments to change the output settings.

        When one dimension is specified and the other is 0, the image is scaled with preserved aspect ratio. If both dimensions are 0, the API provides an image at source quality. If dimensions are not specified, the default size of image returned is 100x100px.
      operationId: Avatars_getBrowserIconByCode
      parameters:
      - description: Browser Code.
        explode: false
        in: path
        name: code
        required: true
        schema:
          enum:
          - aa
          - an
          - ch
          - ci
          - cm
          - cr
          - ff
          - sf
          - mf
          - ps
          - oi
          - om
          - op
          - "true"
          type: string
          x-example: aa
          x-enum-name: Browser
          x-enum-keys:
          - Avant Browser
          - Android WebView Beta
          - Google Chrome
          - Google Chrome (iOS)
          - Google Chrome (Mobile)
          - Chromium
          - Mozilla Firefox
          - Safari
          - Mobile Safari
          - Microsoft Edge
          - Microsoft Edge (iOS)
          - Opera Mini
          - Opera
          - Opera (Next)
        style: simple
      - description: Image width. Pass an integer between 0 to 2000. Defaults to 100.
        explode: true
        in: query
        name: width
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          type: integer
          x-example: 0
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--avatars-browsers-code-get-parameters-1-schema
        style: form
      - description: Image height. Pass an integer between 0 to 2000. Defaults to
          100.
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          type: integer
          x-example: 0
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--avatars-browsers-code-get-parameters-2-schema
        style: form
      - description: Image quality. Pass an integer between 0 to 100. Defaults to
          100.
        explode: true
        in: query
        name: quality
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          type: integer
          x-example: 0
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--avatars-browsers-code-get-parameters-3-schema
        style: form
      responses:
        "200":
          description: Image
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Get browser icon
      tags:
      - avatars
      x-appwrite:
        method: getBrowser
        weight: 59
        cookies: false
        type: location
        deprecated: false
        demo: avatars/get-browser.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/avatars/get-browser.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: avatars.read
        platforms:
        - client
        - server
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--avatars-browsers-code
      x-accepts: application/json
  /avatars/credit-cards/{code}:
    get:
      description: |
        The credit card endpoint will return you the icon of the credit card provider you need. Use width, height and quality arguments to change the output settings.

        When one dimension is specified and the other is 0, the image is scaled with preserved aspect ratio. If both dimensions are 0, the API provides an image at source quality. If dimensions are not specified, the default size of image returned is 100x100px.
      operationId: Avatars_getCreditCardIcon
      parameters:
      - description: "Credit Card Code. Possible values: amex, argencard, cabal, censosud,\
          \ diners, discover, elo, hipercard, jcb, mastercard, naranja, targeta-shopping,\
          \ union-china-pay, visa, mir, maestro."
        explode: false
        in: path
        name: code
        required: true
        schema:
          enum:
          - amex
          - argencard
          - cabal
          - censosud
          - diners
          - discover
          - elo
          - hipercard
          - jcb
          - mastercard
          - naranja
          - targeta-shopping
          - union-china-pay
          - visa
          - mir
          - maestro
          type: string
          x-example: amex
          x-enum-name: CreditCard
          x-enum-keys:
          - American Express
          - Argencard
          - Cabal
          - Consosud
          - Diners Club
          - Discover
          - Elo
          - Hipercard
          - JCB
          - Mastercard
          - Naranja
          - Tarjeta Shopping
          - Union China Pay
          - Visa
          - MIR
          - Maestro
        style: simple
      - description: Image width. Pass an integer between 0 to 2000. Defaults to 100.
        explode: true
        in: query
        name: width
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          type: integer
          x-example: 0
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--avatars-credit-cards-code-get-parameters-1-schema
        style: form
      - description: Image height. Pass an integer between 0 to 2000. Defaults to
          100.
        explode: true
        in: query
        name: height
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          type: integer
          x-example: 0
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--avatars-credit-cards-code-get-parameters-2-schema
        style: form
      - description: Image quality. Pass an integer between 0 to 100. Defaults to
          100.
        explode: true
        in: query
        name: quality
        required: false
        schema:
          default: 100
          example: 100
          format: int32
          type: integer
          x-example: 0
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--avatars-credit-cards-code-get-parameters-3-schema
        style: form
      responses:
        "200":
          description: Image
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Get credit card icon
      tags:
      - avatars
      x-appwrite:
        method: getCreditCard
        weight: 58
        cookies: false
        type: location
        deprecated: false
        demo: avatars/get-credit-card.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/avatars/get-credit-card.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: avatars.read
        platforms:
        - client
        - server
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--avatars-credit-cards-code
      x-accepts: application/json
  /avatars/favicon:
    get:
      description: |
        Use this endpoint to fetch the favorite icon (AKA favicon) of any remote website URL.
      operationId: Avatars_getFavicon
      parameters:
      - description: Website URL which you want to fetch the favicon from.
        explode: true
        in: query
        name: url
        required: true
        schema:
          format: url
          type: string
          x-example: https://example.com
        style: form
      responses:
        "200":
          description: Image
      security:
      - Project: []
        Session: []
        JWT: []
      summary: Get favicon
      tags:
      - avatars
      x-appwrite:
        method: getFavicon
        weight: 62
        cookies: false
        type: location
        deprecated: false
        demo: avatars/get-favicon.md
        edit: https://github.com/appwrite/appwrite/edit/master/docs/references/avatars/get-favicon.md
        rate-limit: 0
        rate-time: 3600
        rate-key: "url:{url},ip:{ip}"
        scope: avatars.read
        platforms:
        - client
        - server
        - server
        packaging: false
        offline-model: ""
        offline-key: ""
        offline-response-key: $id
        auth:
          Project: []
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--avatars-favicon
[...]
